node_modules/
.DS_Store
dist/*
!dist/partials/
dist/partials/*
!dist/partials/work/
dist/partials/work/*
!dist/partials/work/work-experience.js

!dist/styles/
dist/styles/*
!dist/styles/partial-styles.js