@charset "UTF-8";
@import "@fnc314/packages.design-tokens";

/* MATERIAL SYMBOLS */
@font-face {
  font-display: swap;
  font-family: var(--md-fonts-material-symbols-sharp-family);
  font-style: normal;
  font-weight: var(--md-fonts-material-symbols-sharp-face-weight-min)
    var(--md-fonts-material-symbols-sharp-face-weight-max);
  src: url("material-symbols/material-symbols-sharp.woff2") format("woff2");
}

.material-symbols-sharp {
  direction: ltr;
  display: inline-block;
  font-family: var(--md-fonts-material-symbols-sharp-family);
  font-feature-settings: "liga";
  font-size: var(--md-fonts-material-symbols-sharp-size);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: var(--md-fonts-martieral-symbols-sharp-weight);
  letter-spacing: normal;
  line-height: var(--md-fonts-material-symbols-sharp-line-height);
  overflow-wrap: normal;
  text-rendering: optimizelegibility;
  text-transform: none;
  white-space: nowrap;
}

@font-face {
  font-display: swap;
  font-family: var(--md-fonts-material-symbols-outlined-family);
  font-style: normal;
  font-weight: var(--md-fonts-material-symbols-outlined-face-weight-min)
    var(--md-fonts-material-symbols-outlined-face-weight-max);
  src: url("material-symbols/material-symbols-outlined.woff2") format("woff2");
}

.material-symbols-outlined {
  direction: ltr;
  display: inline-block;
  font-family: var(--md-fonts-material-symbols-outlined-family);
  font-feature-settings: "liga";
  font-size: var(--md-fonts-material-symbols-outlined-size);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: var(--md-fonts-martieral-symbols-outlined-weight);
  letter-spacing: normal;
  line-height: var(--md-fonts-material-symbols-outlined-line-height);
  overflow-wrap: normal;
  text-rendering: optimizelegibility;
  text-transform: none;
  white-space: nowrap;
}
/* MATERIAL SYMBOLS */

:root {
  --hover-focus-animation-translate-y: var(
    --globals-hover-focus-animation-translate-y
  );
  --color-transition-duration: var(--globals-transition-color-duration);
  --color-transition-timing: var(--globals-transition-color-timing);

  color-scheme: var(--globals-color-scheme);
}

* {
  box-sizing: border-box;
  margin: var(--spaces-none);
  padding: var(--spaces-none);
  transition:
    stroke var(--color-transition-duration) var(--color-transition-timing),
    fill var(--color-transition-duration) var(--color-transition-timing),
    border-color var(--color-transition-duration) var(--color-transition-timing),
    background-color var(--color-transition-duration)
      var(--color-transition-timing),
    color var(--color-transition-duration) var(--color-transition-timing);
}

html,
body {
  font-family: var(--md-ref-typeface-plain);
  margin: unset;
  padding: unset;
  scroll-padding-block-end: var(--globals-buffer-height);
  writing-mode: horizontal-tb;
}

body {
  container-type: size;
  min-block-size: 100dvb;

  bento-layout {
    block-size: 100%;
    inline-size: 100%;
  }
}
