@font-face {
  font-display: swap;
  font-family: var(--md-fonts-material-symbols-sharp-name);
  font-style: normal;
  font-weight: var(--md-fonts-material-symbols-sharp-face-weight-min)
    var(--md-fonts-material-symbols-sharp-face-weight-max);
  src: url("material-symbols/material-symbols-sharp.woff2") format("woff2");
}

.material-symbols-sharp {
  direction: ltr;
  display: inline-block;
  font-family: var(--md-fonts-material-symbols-sharp-family);
  font-feature-settings: "liga";
  font-size: var(--md-fonts-material-symbols-sharp-size);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: var(--md-fonts-martieral-symbols-sharp-weight);
  letter-spacing: normal;
  line-height: var(--md-fonts-material-symbols-sharp-line-height);
  overflow-wrap: normal;
  text-rendering: optimizelegibility;
  text-transform: none;
  white-space: nowrap;
}

@font-face {
  font-display: swap;
  font-family: var(--md-fonts-material-symbols-outlined-name);
  font-style: normal;
  font-weight: var(--md-fonts-material-symbols-outlined-face-weight-min)
    var(--md-fonts-material-symbols-outlined-face-weight-max);
  src: url("material-symbols/material-symbols-outlined.woff2") format("woff2");
}

.material-symbols-outlined {
  direction: ltr;
  display: inline-block;
  font-family: var(--md-fonts-material-symbols-outlined-family);
  font-feature-settings: "liga";
  font-size: var(--md-fonts-material-symbols-outlined-size);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: var(--md-fonts-martieral-symbols-outlined-weight);
  letter-spacing: normal;
  line-height: var(--md-fonts-material-symbols-outlined-line-height);
  overflow-wrap: normal;
  text-rendering: optimizelegibility;
  text-transform: none;
  white-space: nowrap;
}
