@property --breakpoint-label {
  syntax: "unknown | mobile | tablet | desktop";
  inherits: true;
  initial-value: unknown;
};

:root {
  --breakpoint-label: unknown;
}

@media screen and (width <= 736px) {
  :root {
    --breakpoint-label: mobile;
  }
}

@media screen and (width >= 737px) and (width <= 1200px) {
  :root {
    --breakpoint-label: tablet;
  }
}

@media screen and (width >= 1201px) {
  :root {
    --breakpoint-label: desktop;
  }
}