.dark-medium-contrast {
  --md-sys-color-primary: rgb(211 219 255);
  --md-sys-color-surface-tint: rgb(181 196 255);
  --md-sys-color-on-primary: rgb(16 34 85);
  --md-sys-color-primary-container: rgb(127 142 200);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(215 219 243);
  --md-sys-color-on-secondary: rgb(32 37 54);
  --md-sys-color-secondary-container: rgb(140 144 165);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(250 208 241);
  --md-sys-color-on-tertiary: rgb(55 28 53);
  --md-sys-color-tertiary-container: rgb(170 133 163);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(18 19 24);
  --md-sys-color-on-background: rgb(227 225 233);
  --md-sys-color-surface: rgb(18 19 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(69 70 79);
  --md-sys-color-on-surface-variant: rgb(220 219 230);
  --md-sys-color-outline: rgb(177 177 187);
  --md-sys-color-outline-variant: rgb(143 144 153);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(227 225 233);
  --md-sys-color-inverse-on-surface: rgb(41 42 47);
  --md-sys-color-inverse-primary: rgb(53 69 122);
  --md-sys-color-primary-fixed: rgb(220 225 255);
  --md-sys-color-on-primary-fixed: rgb(0 13 55);
  --md-sys-color-primary-fixed-dim: rgb(181 196 255);
  --md-sys-color-on-primary-fixed-variant: rgb(35 51 103);
  --md-sys-color-secondary-fixed: rgb(222 225 249);
  --md-sys-color-on-secondary-fixed: rgb(11 16 33);
  --md-sys-color-secondary-fixed-dim: rgb(194 197 221);
  --md-sys-color-on-secondary-fixed-variant: rgb(49 53 72);
  --md-sys-color-tertiary-fixed: rgb(255 215 246);
  --md-sys-color-on-tertiary-fixed: rgb(32 7 31);
  --md-sys-color-tertiary-fixed-dim: rgb(227 186 219);
  --md-sys-color-on-tertiary-fixed-variant: rgb(73 44 70);
  --md-sys-color-surface-dim: rgb(18 19 24);
  --md-sys-color-surface-bright: rgb(67 68 74);
  --md-sys-color-surface-container-lowest: rgb(6 7 12);
  --md-sys-color-surface-container-low: rgb(28 29 35);
  --md-sys-color-surface-container: rgb(39 40 45);
  --md-sys-color-surface-container-high: rgb(49 50 56);
  --md-sys-color-surface-container-highest: rgb(61 61 67);
}
