html,
body {
  font-family: Roboto, sans-serif;
  writing-mode: horizontal-tb;
  margin: unset;
  padding: unset;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header-nav"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  container-type: size;
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-surface);

  main {
    color: var(--md-sys-color-on-surface);
    background-color: var(--md-sys-color-surface);
    padding-inline: 1rem;
  }
}

nav {
  position: relative;
  --md-elevation-level: 4;
}