:root {
  --md-ref-typeface-brand: monospace;
  --md-ref-typeface-plain: Roboto, sans-serif;

  --md-sys-shape-corner-extra-large: 2rem;
  --md-sys-shape-corner-extra-small: 0.25rem;
  --md-sys-shape-corner-full: 100%;
  --md-sys-shape-corner-large: 1.5rem;
  --md-sys-shape-corner-medium: 1rem;
  --md-sys-shape-corner-none: 0;
  --md-sys-shape-corner-small: 0.5rem;

  color-scheme: light dark;

  --icon-fill-color: #c12a1c;

  --breakpoint-compact-width-max: 600px;
  --breakpoint-medium-width-max: 900px;
  --breakpoint-large-width-max: 1200px;
  --breakpoint-expanded-width-max: 1500px;

  --md-icon-size: 24px;
  --md-outlined-button-container-shape: var(--md-sys-shape-corner-small);
  --md-filled-button-container-shape: var(--md-sys-shape-corner-small);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: revert;
}

html,
body {
  font-size: 15px;
  font-family: var(--md-ref-typeface-plain);
  writing-mode: horizontal-tb;
  margin: unset;
  padding: unset;
  box-sizing: border-box;
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
}

body {
  min-height: 100dvh;
  display: grid;
  grid-template-areas:
    "header-nav"
    "main";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  container-type: size;
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-surface);

  header {
    grid-area: header-nav;
  }

  main {
    overflow: hidden;
    padding-block-end: 1rem;
    grid-area: main;
    color: var(--md-sys-color-on-surface);
    background-color: var(--md-sys-color-surface);

    .carousel-track {
      height: 100%;
      display: flex;
      width: 100%;
      box-sizing: border-box;
      transition: transform 0.3s ease-in-out;

      [aria-role="tabpanel"] {
        width: 100%;
        min-width: 0px;
        overflow-x: hidden;
        flex-shrink: 0;
        box-sizing: border-box;

        &:nth-child(1) {
          order: 0;
        }

        &:nth-child(2) {
          order: 1;
        }

        &:nth-child(3) {
          order: 2;
        }
      }
    }

  }
}
/*
header, .carousel-track {
  &:where(a, p, li, legend, input, button) {
    &:has(:focus, :focus-visible, :focus-within) {
      color: var(--md-sys-color-on-surface-variant);
      background-color: var(--md-sys-color-surface-variant);
    }
  }
} */