html,
body {
  /* font-size: 16px; */
  font-family: Roboto, sans-serif;
  writing-mode: horizontal-tb;
  margin: unset;
  padding: unset;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header-nav"
    "main";
  grid-template-rows: auto 1fr;
  container-type: size;
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-surface);

  header {
    grid-area: header-nav;
  }

  main {
    grid-area: main;
    color: var(--md-sys-color-on-surface);
    background-color: var(--md-sys-color-surface);
  }
}

nav {
  position: relative;
  --md-elevation-level: 4;
}