:root {
  --md-sys-color-primary: #cc3333;
  --md-sys-color-secondary: #239c41;
  --md-sys-color-tertiary: #16239b;
  --md-sys-color-surface: #ffffff;
  --md-sys-color-surface-container-low: #f7f7f7;
  --md-sys-color-background: #117221;
  --md-sys-color-outline: #000000;
  --md-sys-color-outline-variant: #2742c7;
  --md-sys-color-surface-variant: #dfdfdf;
  --md-sys-color-on-surface-variant: #2742c7;
  --md-sys-color-shadow: #000000;
}

html,
body {
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  writing-mode: horizontal-tb;
}

body {
  display: grid;
  grid-template-areas:
    "header-nav"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  container-type: size;
}

nav {
  position: relative;
  --md-elevation-level: 4;
}