@import url("./stylesheets/material-overrides.css");

:root {
  color-scheme: light dark;

  --hairline-width: 1px;
  --icon-fill-color: #c12a1c;
  --breakpoint-compact-width-max: 600px;
  --breakpoint-medium-width-max: 900px;
  --breakpoint-large-width-max: 1200px;
  --breakpoint-expanded-width-max: 1500px;
  --color-transition-duration: 500ms;
  --color-transition-timing: ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: revert;
  transition:
    stroke var(--color-transition-duration) var(--color-transition-timing),
    fill var(--color-transition-duration) var(--color-transition-timing),
    border-color var(--color-transition-duration) var(--color-transition-timing),
    background-color var(--color-transition-duration) var(--color-transition-timing),
    color var(--color-transition-duration) var(--color-transition-timing);
}

html,
body {
  font-family: var(--md-ref-typeface-plain);
  writing-mode: horizontal-tb;
  margin: unset;
  padding: unset;
  box-sizing: border-box;
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
}

body {
  min-height: 100dvh;
  display: grid;
  grid-template-areas:
    "header-nav"
    "main";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  container-type: size;
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-surface);

  header {
    grid-area: header-nav;
  }

  main {
    overflow: hidden;
    grid-area: main;
    color: var(--md-sys-color-on-surface);
    background-color: var(--md-sys-color-surface);

    .carousel-track {
      height: 100%;
      display: flex;
      width: 100%;
      box-sizing: border-box;
      transition: transform 0.3s ease-in-out;

      [role="tabpanel"] {
        width: 100%;
        min-width: 0;
        overflow-x: hidden;
        flex-shrink: 0;
        box-sizing: border-box;

        &:nth-child(1) {
          order: 0;
        }

        &:nth-child(2) {
          order: 1;
        }

        &:nth-child(3) {
          order: 2;
        }

        &:nth-child(4) {
          order: 3;
        }
      }
    }
  }
}
