@import url("@fnc314/design-tokens/dist/css/_variables.css");
@import url("@fnc314/design-tokens/dist/css/breakpoints.css");
@import url("styles/material-overrides.css");

:root {
  --hover-focus-animation-translate-y: var(
    --global-hover-focus-animation-translate-y
  );
  --hairline-width: var(--global-hairline-width);
  --icon-fill-color: var(--global-icon-fill-color);
  --color-transition-duration: var(--global-transition-color-duration);
  --color-transition-timing: var(--global-transition-color-timing);
  --fab-buffer-height: var(--global-fab-buffer-height);

  color-scheme: light dark;
}

* {
  box-sizing: border-box;
  margin: var(--spacing-reset);
  padding: var(--spacing-reset);
  transition:
    stroke var(--color-transition-duration) var(--color-transition-timing),
    fill var(--color-transition-duration) var(--color-transition-timing),
    border-color var(--color-transition-duration) var(--color-transition-timing),
    background-color var(--color-transition-duration)
      var(--color-transition-timing),
    color var(--color-transition-duration) var(--color-transition-timing);
}

html,
body {
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  font-family: var(--md-ref-typeface-plain);
  margin: unset;
  padding: unset;
  scroll-padding-bottom: var(--fab-buffer-height);
  writing-mode: horizontal-tb;
}

body {
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  container-type: size;
  display: grid;
  grid-template-areas:
    "header-nav"
    "main";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  min-height: 100dvh;

  header {
    grid-area: header-nav;
  }

  main {
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    grid-area: main;
    overflow-x: hidden;

    bento-layout {
      height: 100%;
      width: 100%;
    }
  }
}
