:root {
  --md-sys-color-primary: light-dark(rgb(64 3 0),255 237 219));
  --md-sys-color-surface-tint: light-dark(rgb(128 86 17), rgb(245 188 111));
  --md-sys-color-on-primary: light-dark(rgb(255 255 255), rgb(0 0 0));
  --md-sys-color-primary-container: light-dark(rgb(102 65 0), rgb(241 185 108));
  --md-sys-color-on-primary-container: light-dark(rgb(255 255 255), rgb(20 9 0));
  --md-sys-color-secondary: light-dark(rgb(57 41 18), rgb(255 237 219));
  --md-sys-color-on-secondary: light-dark(rgb(255 255 255), rgb(0 0 0));
  --md-sys-color-secondary-container: light-dark(rgb(89 70 45), rgb(217 190 158));
  --md-sys-color-on-secondary-container: light-dark(rgb(255 255 255), rgb(20 9 0));
  --md-sys-color-tertiary: light-dark(rgb(33 49 17), rgb(226 247 200));
  --md-sys-color-on-tertiary: light-dark(rgb(255 255 255), rgb(0 0 0));
  --md-sys-color-tertiary-container: light-dark(rgb(61 78 44), rgb(181 201 157));
  --md-sys-color-on-tertiary-container: light-dark(rgb(255 255 255), rgb(4 14 0));
  --md-sys-color-error: light-dark(rgb(96 0 4), rgb(255 236 233));
  --md-sys-color-on-error: light-dark(rgb(255 255 255), rgb(0 0 0));
  --md-sys-color-error-container: light-dark(rgb(152 0 10), rgb(255 174 164));
  --md-sys-color-on-error-container: light-dark(rgb(255 255 255), rgb(34 0 1));
  --md-sys-color-background: light-dark(rgb(255 248 244), rgb(24 18 11));
  --md-sys-color-on-background: light-dark(rgb(33 27 19), rgb(237 224 212));
  --md-sys-color-surface: light-dark(rgb(255 248 244), rgb(24 18 11));
  --md-sys-color-on-surface: light-dark(rgb(0 0 0), rgb(255 255 255));
  --md-sys-color-surface-variant: light-dark(rgb(240 224 208), rgb(79 69 57));
  --md-sys-color-on-surface-variant: light-dark(rgb(0 0 0), rgb(255 255 255));
  --md-sys-color-outline: light-dark(rgb(51 43 32), rgb(254 237 221));
  --md-sys-color-outline-variant: light-dark(rgb(82 71 59), rgb(207 192 177));
  --md-sys-color-shadow: light-dark(rgb(0 0 0), rgb(0 0 0));
  --md-sys-color-scrim: light-dark(rgb(0 0 0), rgb(0 0 0));
  --md-sys-color-inverse-surface: light-dark(rgb(54 47 39), rgb(237 224 212));
  --md-sys-color-inverse-on-surface: light-dark(rgb(255 255 255), rgb(0 0 0));
  --md-sys-color-inverse-primary: light-dark(rgb(245 188 111), rgb(101 64 0));
  --md-sys-color-primary-fixed: light-dark(rgb(102 65 0), rgb(255 221 180));
  --md-sys-color-on-primary-fixed: light-dark(rgb(255 255 255), rgb(0 0 0));
  --md-sys-color-primary-fixed-dim: light-dark(rgb(72 45 0), rgb(245 188 111));
  --md-sys-color-on-primary-fixed-variant: light-dark(rgb(255 255 255), rgb(27 14 0));
  --md-sys-color-secondary-fixed: light-dark(rgb(89 70 45), rgb(251 222 188));
  --md-sys-color-on-secondary-fixed: light-dark(rgb(255 255 255), rgb(0 0 0));
  --md-sys-color-secondary-fixed-dim: light-dark(rgb(65 48 24), rgb(222 194 161));
  --md-sys-color-on-secondary-fixed-variant: light-dark(rgb(255 255 255), rgb(27 14 0));
  --md-sys-color-tertiary-fixed: light-dark(rgb(61 78 44), rgb(212 234 187));
  --md-sys-color-on-tertiary-fixed: light-dark(rgb(255 255 255), rgb(0 0 0));
  --md-sys-color-tertiary-fixed-dim: light-dark(rgb(39 55 23), rgb(185 205 160));
  --md-sys-color-on-tertiary-fixed-variant: light-dark(rgb(255 255 255), rgb(7 20 0));
  --md-sys-color-surface-dim: light-dark(rgb(194 183 171), rgb(24 18 11));
  --md-sys-color-surface-bright: light-dark(rgb(255 248 244), rgb(87 79 70));
  --md-sys-color-surface-container-lowest: light-dark(rgb(255 255 255), rgb(0 0 0));
  --md-sys-color-surface-container-low: light-dark(rgb(252 239 226), rgb(37 31 23));
  --md-sys-color-surface-container: light-dark(rgb(237 224 212), rgb(54 47 39));
  --md-sys-color-surface-container-high: light-dark(rgb(223 210 198), rgb(66 58 50));
  --md-sys-color-surface-container-highest: light-dark(rgb(208 196 185), rgb(77 69 61));
}