:root {
  --md-sys-color-primary: light-dark(rgb(77 48 0), rgb(255 214 161));
  --md-sys-color-surface-tint: light-dark(rgb(128 86 17), rgb(245 188 111));
  --md-sys-color-on-primary: light-dark(rgb(255 255 255), rgb(55 33 0));
  --md-sys-color-primary-container: light-dark(rgb(145 100 31), rgb(185 135 64));
  --md-sys-color-on-primary-container: light-dark(rgb(255 255 255), rgb(0 0 0));
  --md-sys-color-secondary: light-dark(rgb(68 51 27), rgb(244 216 182));
  --md-sys-color-on-secondary: light-dark(rgb(255 255 255), rgb(50 35 13));
  --md-sys-color-secondary-container: light-dark(rgb(127 105 78), rgb(165 141 111));
  --md-sys-color-on-secondary-container: light-dark(rgb(255 255 255), rgb(0 0 0));
  --md-sys-color-tertiary: light-dark(rgb(42 59 26), rgb(206 227 181));
  --md-sys-color-on-tertiary: light-dark(rgb(255 255 255), rgb(26 42 11));
  --md-sys-color-tertiary-container: light-dark(rgb(96 115 77), rgb(131 151 110));
  --md-sys-color-on-tertiary-container: light-dark(rgb(255 255 255), rgb(0 0 0));
  --md-sys-color-error: light-dark(rgb(116 0 6), rgb(255 210 204));
  --md-sys-color-on-error: light-dark(rgb(255 255 255), rgb(84 0 3));
  --md-sys-color-error-container: light-dark(rgb(207 44 39), rgb(255 84 73));
  --md-sys-color-on-error-container: light-dark(rgb(255 255 255), rgb(0 0 0));
  --md-sys-color-background: light-dark(rgb(255 248 244), rgb(24 18 11));
  --md-sys-color-on-background: light-dark(rgb(33 27 19), rgb(237 224 212));
  --md-sys-color-surface: light-dark(rgb(255 248 244), rgb(24 18 11));
  --md-sys-color-on-surface: light-dark(rgb(22 16 9), rgb(255 255 255));
  --md-sys-color-surface-variant: light-dark(rgb(240 224 208), rgb(79 69 57));
  --md-sys-color-on-surface-variant: light-dark(rgb(62 53 41), rgb(234 218 202));
  --md-sys-color-outline: light-dark(rgb(91 81 68), rgb(190 176 160));
  --md-sys-color-outline-variant: light-dark(rgb(119 107 94), rgb(155 142 128));
  --md-sys-color-shadow: light-dark(rgb(0 0 0), rgb(0 0 0));
  --md-sys-color-scrim: light-dark(rgb(0 0 0), rgb(0 0 0));
  --md-sys-color-inverse-surface: light-dark(rgb(54 47 39), rgb(237 224 212));
  --md-sys-color-inverse-on-surface: light-dark(rgb(252 239 226), rgb(48 41 33));
  --md-sys-color-inverse-primary: light-dark(rgb(245 188 111), rgb(101 64 0));
  --md-sys-color-primary-fixed: light-dark(rgb(145 100 31), rgb(255 221 180));
  --md-sys-color-on-primary-fixed: light-dark(rgb(255 255 255), rgb(27 14 0));
  --md-sys-color-primary-fixed-dim: light-dark(rgb(117 76 5), rgb(245 188 111));
  --md-sys-color-on-primary-fixed-variant: light-dark(rgb(255 255 255), rgb(77 48 0));
  --md-sys-color-secondary-fixed: light-dark(rgb(127 105 78), rgb(251 222 188));
  --md-sys-color-on-secondary-fixed: light-dark(rgb(255 255 255), rgb(27 14 0));
  --md-sys-color-secondary-fixed-dim: light-dark(rgb(101 81 55), rgb(222 194 161));
  --md-sys-color-on-secondary-fixed-variant: light-dark(rgb(255 255 255), rgb(68 51 27));
  --md-sys-color-tertiary-fixed: light-dark(rgb(96 115 77), rgb(212 234 187));
  --md-sys-color-on-tertiary-fixed: light-dark(rgb(255 255 255), rgb(7 20 0));
  --md-sys-color-tertiary-fixed-dim: light-dark(rgb(72 90 54), rgb(185 205 160));
  --md-sys-color-on-tertiary-fixed-variant: light-dark(rgb(255 255 255), rgb(42 59 26));
  --md-sys-color-surface-dim: light-dark(rgb(208 196 185), rgb(24 18 11));
  --md-sys-color-surface-bright: light-dark(rgb(255 248 244), rgb(75 67 58));
  --md-sys-color-surface-container-lowest: light-dark(rgb(255 255 255), rgb(11 7 3));
  --md-sys-color-surface-container-low: light-dark(rgb(255 241 229), rgb(35 29 21));
  --md-sys-color-surface-container: light-dark(rgb(243 230 218), rgb(45 39 31));
  --md-sys-color-surface-container-high: light-dark(rgb(231 219 207), rgb(56 49 41));
  --md-sys-color-surface-container-highest: light-dark(rgb(220 208 196), rgb(68 60 52));
}