:root {
  --md-sys-color-primary: light-dark(rgb(128 86 17), rgb(245 188 111));
  --md-sys-color-surface-tint: light-dark(rgb(128 86 17), rgb(245 188 111));
  --md-sys-color-on-primary: light-dark(rgb(255 255 255), rgb(69 43 0));
  --md-sys-color-primary-container: light-dark(rgb(255 221 180), rgb(99 63 0));
  --md-sys-color-on-primary-container: light-dark(rgb(99 63 0), rgb(255 221 180));
  --md-sys-color-secondary: light-dark(rgb(112 91 64), rgb(222 194 161));
  --md-sys-color-on-secondary: light-dark(rgb(255 255 255), rgb(62 45 22));
  --md-sys-color-secondary-container: light-dark(rgb(251 222 188), rgb(86 67 43));
  --md-sys-color-on-secondary-container: light-dark(rgb(86 67 43), rgb(251 222 188));
  --md-sys-color-tertiary: light-dark(rgb(82 100 63), rgb(185 205 160));
  --md-sys-color-on-tertiary: light-dark(rgb(255 255 255), rgb(37 53 21));
  --md-sys-color-tertiary-container: light-dark(rgb(212 234 187), rgb(59 76 41));
  --md-sys-color-on-tertiary-container: light-dark(rgb(59 76 41), rgb(212 234 187));
  --md-sys-color-error: light-dark(rgb(186 26 26), rgb(255 180 171));
  --md-sys-color-on-error: light-dark(rgb(255 255 255), rgb(105 0 5));
  --md-sys-color-error-container: light-dark(rgb(255 218 214), rgb(147 0 10));
  --md-sys-color-on-error-container: light-dark(rgb(147 0 10), rgb(255 218 214));
  --md-sys-color-background: light-dark(rgb(255 248 244), rgb(24 18 11));
  --md-sys-color-on-background: light-dark(rgb(33 27 19), rgb(237 224 212));
  --md-sys-color-surface: light-dark(rgb(255 248 244), rgb(24 18 11));
  --md-sys-color-on-surface: light-dark(rgb(33 27 19), rgb(237 224 212));
  --md-sys-color-surface-variant: light-dark(rgb(240 224 208), rgb(79 69 57));
  --md-sys-color-on-surface-variant: light-dark(rgb(79 69 57), rgb(211 196 180));
  --md-sys-color-outline: light-dark(rgb(129 117 103), rgb(156 143 128));
  --md-sys-color-outline-variant: light-dark(rgb(211 196 180), rgb(79 69 57));
  --md-sys-color-shadow: light-dark(rgb(0 0 0), rgb(0 0 0));
  --md-sys-color-scrim: light-dark(rgb(0 0 0), rgb(0 0 0));
  --md-sys-color-inverse-surface: light-dark(rgb(54 47 39), rgb(237 224 212));
  --md-sys-color-inverse-on-surface: light-dark(rgb(252 239 226), rgb(54 47 39));
  --md-sys-color-inverse-primary: light-dark(rgb(245 188 111), rgb(128 86 17));
  --md-sys-color-primary-fixed: light-dark(rgb(255 221 180), rgb(255 221 180));
  --md-sys-color-on-primary-fixed: light-dark(rgb(41 24 0), rgb(41 24 0));
  --md-sys-color-primary-fixed-dim: light-dark(rgb(245 188 111), rgb(245 188 111));
  --md-sys-color-on-primary-fixed-variant: light-dark(rgb(99 63 0), rgb(99 63 0));
  --md-sys-color-secondary-fixed: light-dark(rgb(251 222 188), rgb(251 222 188));
  --md-sys-color-on-secondary-fixed: light-dark(rgb(39 25 4), rgb(39 25 4));
  --md-sys-color-secondary-fixed-dim: light-dark(rgb(222 194 161), rgb(222 194 161));
  --md-sys-color-on-secondary-fixed-variant: light-dark(rgb(86 67 43), rgb(86 67 43));
  --md-sys-color-tertiary-fixed: light-dark(rgb(212 234 187), rgb(212 234 187));
  --md-sys-color-on-tertiary-fixed: light-dark(rgb(16 31 3), rgb(16 31 3));
  --md-sys-color-tertiary-fixed-dim: light-dark(rgb(185 205 160), rgb(185 205 160));
  --md-sys-color-on-tertiary-fixed-variant: light-dark(rgb(59 76 41), rgb(59 76 41));
  --md-sys-color-surface-dim: light-dark(rgb(228 216 204), rgb(24 18 11));
  --md-sys-color-surface-bright: light-dark(rgb(255 248 244), rgb(63 56 48));
  --md-sys-color-surface-container-lowest: light-dark(rgb(255 255 255), rgb(19 13 7));
  --md-sys-color-surface-container-low: light-dark(rgb(255 241 229), rgb(33 27 19));
  --md-sys-color-surface-container: light-dark(rgb(249 236 223), rgb(37 31 23));
  --md-sys-color-surface-container-high: light-dark(rgb(243 230 218), rgb(48 41 33));
  --md-sys-color-surface-container-highest: light-dark(rgb(237 224 212), rgb(59 52 43));
}